$navbarHeight: 50px;

#app {
    .navbar-container {
        display: flex;
        position: fixed;
        width:100vw;
        height:$navbarHeight;
        background: linear-gradient(to right, #2ebf91, #8360c3);
        box-shadow: 0 5px 5px -3px var(--cb-color-shadow,rgba(0,0,0,0.16));
    }
    
    .app-wrapper {
        padding-top: $navbarHeight;
        height: calc(100vh - #{$navbarHeight});
    }

    .sidebar-container {
        transition: width 0.28s;
        width: $sideBarWidth !important;
        float: left;
    }

    .main-container {
        min-height: 100%;
        transition: margin-left .28s;
        margin-left: $sideBarWidth;
        position: relative;
        background-color: #eff2fa;
    }
}